#indexBody{
    background: #393839;
    color: ghostwhite;
    font-family: Georgia, serif;
}

.hidden{
    display: none;
}

header{
    height: 135px;
    background-image: url("img/Pokemon-banner.jpg.optimal copy.jpg");
    background-position: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.btn-group{
    background: silver;
}

a{
    color: whitesmoke;
}

.card{
    height: 15em;
    width: 12em;
    margin-right: 5em;
    margin-bottom: 3em;
    background: none;
}

.lower-card{
    background: silver;
}

#details{
    background: #393839;
    color: ghostwhite;
    font-family: Georgia, serif;
}

.title{
    background-color: darkorange;

}

.section{
    background-color: #404141;
}

.detailImg{
    background-color: #454445;
    padding: 3px;
    height: 200px;
    width: 200px;
}

.stat{
    height: 60px;
}