<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Pokedex')"></head>
<body id="indexBody" class="text-center">
<nav th:replace="partials/partials.html :: nav"></nav>

<!--This button group supports the function of filtering pokemon by the region that the user selects-->
<div id="regionSelect" class="py-0 px-2 btn-group mt-4 rounded-pill border border-2 border-dark border-opacity-50">
    <button type="button" class="regionBtn btn" value="kanto">Kanto</button>
    <button type="button" class="regionBtn btn" value="johto">Johto</button>
    <button type="button" class="regionBtn btn" value="hoenn">Hoenn</button>
    <button type="button" class="regionBtn btn" value="sinnoh">Sinnoh</button>
    <button type="button" class="regionBtn btn" value="unova">Unova</button>
    <button type="button" class="regionBtn btn" value="kalos">Kalos</button>
    <button type="button" class="regionBtn btn" value="alola">Alola</button>
    <button type="button" class="regionBtn btn" value="galar">Galar</button>
    <button type="button" class="regionBtn btn" value="paldea">Paldea</button>
</div>

<div class="introduction">
    <h1 class="text-center text-primary">This is only visible before you run the fetch request</h1>
</div>
<div class="container mt-4 d-flex flex-wrap justify-content-around" id="content"></div>

<block th:replace="partials/partials.html :: scripts"></block>
<script src="/js/main.js" type="module"></script>
</body>
</html>