<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Pokedex')"></head>
<body id="indexBody" class="text-center">
<nav th:replace="partials/partials.html :: nav"></nav>

<div id="loader">
    <h1 class="text-center my-4 text-light">
        <span id="loaderCatching" class="text-danger">Catching</span>
        <br>
        <span class="text-dark">your</span>
        <br>
        <span id="loaderPokemon">Pokemon</span>
    </h1>
</div>

<div class="py-0 px-2 btn-group mt-4 rounded-pill border border-2 border-dark border-opacity-50">
    <button type="button" class="btn">Kanto</button>
    <button type="button" class="btn">Johto</button>
    <button type="button" class="btn">Hoenn</button>
    <button type="button" class="btn">Sinnoh</button>
    <button type="button" class="btn">Unova</button>
    <button type="button" class="btn">Kalos</button>
    <button type="button" class="btn">Alola</button>
    <button type="button" class="btn">Galar</button>
    <button type="button" class="btn">Paldea</button>
</div>

<div class="container mt-4 d-flex flex-wrap justify-content-around" id="content"></div>

<div id="modal-container" class="hidden">
    <div id="modal" class="modal hidden">
        <!-- going to place all modal stuff here-->
        <header>
            <h3>Enter Changes</h3>
        </header>
        <main></main>
        <footer> <button>Accept!</button> </footer>
    </div>
</div>
<block th:replace="partials/partials.html :: scripts"></block>
<script src="/js/main.js" type="module"></script>
</body>
</html>